{
    "silver_record_1": {
        "name": "silver",
        "bought_price": "12000.00",
        "date_of_bought": "2019-11-26T11:00:30Z",
        "unit": "oz",
        "amount": "130",
        "description": "Test silver_record_1"
    },

    "silver_record_2": {
        "name": "silver",
        "bought_price": "2400.00",
        "date_of_bought": "2019-11-24T11:00:30Z",
        "unit": "oz",
        "amount": "25",
        "description": "Test silver_record_2"
    },

    "gold_record_1": {
        "name": "gold",
        "bought_price": "6000.00",
        "date_of_bought": "2019-11-22T11:00:30Z",
        "unit": "oz",
        "amount": "1",
        "description": "Test gold_record_1"
    },

    "gold_record_2": {
        "name": "gold",
        "bought_price": "18100.00",
        "date_of_bought": "2019-11-21T11:00:30Z",
        "unit": "oz",
        "amount": "3",
        "description": "Test gold_record_2"
    }
}
