{
    "usd_record_1": {
        "bought_price": "2000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-26 11:00:31",
        "bought_currency": "560",
        "bought_currency_currency": "USD"
    },

    "usd_record_2": {
        "bought_price": "10000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:32",
        "bought_currency": "2700",
        "bought_currency_currency": "USD"
    },

    "eur_record_1": {
        "bought_price": "4000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:33",
        "bought_currency": "1000",
        "bought_currency_currency": "EUR"
    },

    "eur_record_2": {
        "bought_price": "1000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:34",
        "bought_currency": "250",
        "bought_currency_currency": "EUR"
    },

    "chf_record_1": {
        "bought_price": "1000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:35",
        "bought_currency": "200",
        "bought_currency_currency": "CHF"
    },

    "chf_record_2": {
        "bought_price": "2500",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:36",
        "bought_currency": "700",
        "bought_currency_currency": "CHF"
    }
}
