{
    "silver_record_1": {
        "name": "silver",
        "bought_price": "12000",
        "date_of_bought": "2019-11-26 11:00:30",
        "unit": "oz",
        "amount": "130",
        "description": "Test silver_record_1"
    },

    "silver_record_2": {
        "name": "silver",
        "bought_price": "2400",
        "date_of_bought": "2019-11-24 11:00:30",
        "unit": "oz",
        "amount": "25",
        "description": "Test silver_record_2"
    },

    "gold_record_1": {
        "name": "gold",
        "bought_price": "6000",
        "date_of_bought": "2019-11-22 11:00:30",
        "unit": "oz",
        "amount": "1",
        "description": "Test gold_record_1"
    },

    "gold_record_2": {
        "name": "gold",
        "bought_price": "18100",
        "date_of_bought": "2019-11-21 11:00:30",
        "unit": "oz",
        "amount": "3",
        "description": "Test gold_record_1"
    },

    "usd_record_1": {
        "bought_price": "2000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-26 11:00:30",
        "bought_currency": "560",
        "bought_currency_currency": "USD"
    },

    "usd_record_2": {
        "bought_price": "10000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:30",
        "bought_currency": "2700",
        "bought_currency_currency": "USD"
    },

    "eur_record_1": {
        "bought_price": "4000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:30",
        "bought_currency": "1000",
        "bought_currency_currency": "EUR"
    },

    "eur_record_2": {
        "bought_price": "1000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:30",
        "bought_currency": "250",
        "bought_currency_currency": "EUR"
    },

    "chf_record_1": {
        "bought_price": "1000",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:30",
        "bought_currency": "200",
        "bought_currency_currency": "CHF"
    },

    "chf_record_2": {
        "bought_price": "2500",
        "bought_price_currency": "PLN",
        "date_of_bought": "2019-11-24 11:00:30",
        "bought_currency": "700",
        "bought_currency_currency": "CHF"
    },

    "cash_record_1": {
        "save_date": "2018-11-26 11:00:30",
        "my_cash": "10000",
        "my_cash_currency": "PLN"
    },

    "cash_record_2": {
        "save_date": "2018-11-26 11:00:30",
        "my_cash": "3000",
        "my_cash_currency": "PLN"
    }
}
